<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <form class="urlForm" method="post">
            <h2>Auto Generate</h2>
            <div class="form-label">
                <input 
                type="text" 
                name="fullurl" 
                id="fullUrl"
                placeholder="Enter Url"/>
            </div>
            
            <div class="form-label">
                <button 
                    type="submit"
                    class="btn"
                >
                    Submit
                </button>
            </div>

            <div class="form-label">
                <p>New Url</p>
            </div>
        </form>
    </div>
</body>
</html>