<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Generator</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="container" >
        <nav>
            <div class="left">
                <a href="/scissors/custom">Custom</a>
                <a href="/scissors/autogenerate">Auto</a>
                <a href="/scissors/history">History</a>
            </div>
            <p class="right">welcome <%=email%></p>
        </nav>

            <form class="urlForm" method="post">
                <h2>Short Url</h2>
                <div class="form-label">
                    <input type="text" required id="fullurl" name="fullurl" placeholder="Enter Url"/>
                </div>
                <div class="form-label">
                    <input type="text" required name="shorturl" id="customUrl" placeholder="Enter Custom Url"/>
                </div>
                <div class="form-label">
                    <button class="btn" type="submit">Submit</button>
                </div>

                <% if(check == true){ %>
                    <div class="form-label">
                        <p><a href="/:<%=newLink %>"><%= newLink %></a></p>
                    </div>   

                    <div class="form-label"> 
                        <img src="<%= src %>" alt="QR CODE">
                    </div>  
                <% } %>
            </form>
        </div>
</body>
</html>