<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" >
            <form class="urlForm" method="post">
                <h2>Short Url</h2>
                <div class="form-label">
                    <input type="text" id="fullurl" name="fullurl" placeholder="Enter Url"/>
                </div>
                <div class="form-label">
                    <input type="text" name="shorturl" id="customUrl" placeholder="Enter Custom Url"/>
                </div>
                <div className="form-label">
                    <button class="btn" type="submit">Submit</button>
                </div>

                <div class="form-label">
                    <p>Custom Url</p>
                </div>
            </form>
        </div>
</body>
</html>