<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <p>welcome user</p>
            <a href="/scissors/custom">Custom</a>
            <a href="/scissors/autogenerate">Auto</a>
            <a href="/scissors/history">History</a>
        </nav>
    </div>
</body>
</html>