<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Scissors</h1>
        <form class="signup" method="post">
            <h2>Sign Up</h2>
            <div class="form-label">
                <input type="email" id="email" name="email" placeholder="Enter Email"/>
            </div>
            <div class="form-label">
                <input type="password" id="pwd" name="password" placeholder="Enter Password"/>
            </div>
            <div class="form-label">
                <button class="btn" type="submit">Submit</button>
            </div>
            <p class="form-label">Have an Account? <a href="/scissors/login">Login</a> Here</p>
    
            <div class="error-message">
                <p>Custom Url</p>
            </div>
        </form>
    </div>
</body>
</html>